<% this.title = '课程' %>

<% include header %>

<h2 class="ui red header">正在建设中。。。</h2>

<div class="ui four column stackable grid cards">

    
  <div class="card">
    <a class="image" href="#">
    <img src="https://i.loli.net/2021/03/08/uN2bV3qLDGUvoE7.png">
      </a>
      <div class="content">
        <a class="header" href="#">C语言 - 肖飞老师</a>
      </div>

  </div>
  <div class="card">
    <a class="image" href="#">
    <img src="https://i.loli.net/2021/03/08/uN2bV3qLDGUvoE7.png">
      </a>
      <div class="content">
        <a class="header" href="#">C语言 - 肖飞老师</a>
      </div>

  </div>
  <div class="card">
    <a class="image" href="#">
    <img src="https://i.loli.net/2021/03/08/uN2bV3qLDGUvoE7.png">
      </a>
      <div class="content">
        <a class="header" href="#">C语言 - 肖飞老师</a>
      </div>

  </div>
  
    <div class="card">
    <a class="image" href="#">
    <img src="https://i.loli.net/2021/03/08/uN2bV3qLDGUvoE7.png">
      </a>
      <div class="content">
        <a class="header" href="#">C语言 - 肖飞老师</a>
      </div>

  </div>
  
    <div class="card">
    <a class="image" href="#">
    <img src="https://i.loli.net/2021/03/08/uN2bV3qLDGUvoE7.png">
      </a>
      <div class="content">
        <a class="header" href="#">C语言 - 肖飞老师</a>
      </div>

  </div>
    
</div>
 


    
<% include footer %>
