<% this.title = '课程专题' %>

<% include header %>



<h2 class="ui red header">正在建设中。。。</h2>

<div class="ui four column stackable grid cards">

    
  <div class="card">
    <a class="image" href="/problems/tag/39">
    <img src="https://7.dusays.com/2021/03/08/0902b756dc52c.png">
      </a>
      <div class="content">
        <a class="header" href="/problems/tag/39">C语言综合实践与创新训练</a>
      </div>

  </div>
  
</div>
 


    
<% include footer %>
