<% this.title = '课程专题' %>

<% include header %>

<% if (user && user.is_admin) { %>
    <form class="ui mini form">
      <div class="inline fields" style="margin-bottom: 25px; white-space: nowrap; ">
        <a href="<%= syzoj.utils.makeUrl(['contest', 0, 'edit']) %>" class="ui mini labeled icon right floated button" style="margin-left: auto; ">
          <i class="ui icon write"></i>
          创建专题
        </a>
     </div> 
    </form>
    <% } %>

<div class="ui four column stackable grid cards">


    
  <div class="card">
    <a class="image" href="/problems/tag/39">
    <img src="https://7.dusays.com/2021/03/08/0902b756dc52c.png">
      </a>
      <div class="content">
        <a class="header" href="/problems/tag/39">C语言综合实践与创新训练</a>
      </div>

  </div>
  
  
  
</div>
 


    
<% include footer %>
