<% this.title = homework.title + ' - 作业' %>
<% include header %>
<% include homework_header %>
<div class="row">
  <div class="column">
    <h4 class="ui top attached block header">信息与公告</h4>
    <div class="ui bottom attached segment font-content">
      <%- homework.information %>
    </div>
  </div>
</div>
<% include homework_footer %>
<% include footer %>