<% this.title = '注册' %>
<% include header %>
<div class="padding">
  <h1>注册</h1>
  <p ><span style="color:red;">请注意：</span></br>
  教师账户用户名请使用<span style="color:red;">【教职工号】</span>注册，工号请填写完整<br>
    学生账户用户名请使用<span style="color:red;">【学号】</span>注册，学号请填写完整，便于任课老师打分。
    <br> 注册后将<span style="color:red;">无法修改用户名</span>，如需修改请联系管理员，联系方式请查看<a href="/about" target="_blank">关于页面</a><br>
  </p>
  <div class="ui error message" id="error" data-am-alert hidden>
    <p id="error_info"></p>
  </div>
          <form class="ui form">
                <div class="field">
                    <label for="username">用户名（格式：学号/教职工号）</label>
                    <input type="text" placeholder="请使用学号" id="username">
                </div>
                <div class="two fields"><!-- nameplate 0320 nickname 0321 guke -->
                <div class="field">
                    <label for="nameplate">班级（例：计科2001，计算机2006）老师请输入“老师”两个字</label>
                    <input type="text" placeholder="" id="nameplate">
                </div>
                <div class="field">
                    <label for="nameplate">真实姓名</label>
                    <input type="text" placeholder="" id="nickname">
                </div>
            </div>
                <div class="field">
                    <label for="email">邮箱</label>
                    <input type="email" placeholder="会收到一封验证邮件" id="email">
                </div>
                <div class="two fields">
                    <div class="field">
                    <label class="ui header">密码</label>
                      <input type="password" placeholder="" id="password1">
                    </div>
                    <div class="field">
                      <label class="ui header">确认密码</label>
                      <input type="password" placeholder="" id="password2">
                    </div>
                </div>
                <a id="sign_up" class="ui button" href="javascript:submit();">注册</a>
            </form>
</div>
<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>
<script type="text/javascript">
function show_error(error) {
    $("#error_info").text(error);
    $("#error").show();
}

function success() {
    alert("注册成功！");
    window.location.href = location.protocol + '//' + location.host + <%- serializejs(req.query.url || '/') %>;
}

function mail_required() {
    alert("注册确认邮件已经发送到您的邮箱的垃圾箱，点击邮件内的链接即可完成注册。");
    var s = $("#email").val();
    var mailWebsite = 'https://mail.' + s.substring(s.indexOf('@') + 1, s.length);
    if (mailWebsite === 'https://mail.gmail.com') mailWebsite = 'https://mail.google.com';
    // window.location.href = mailWebsite;
}

function submit() {
    if ($("#password1").val() != $("#password2").val()) {
        show_error("两次输入的密码不一致");
        return;
    }
    password = md5($("#password1").val() + "syzoj2_xxx")
    
    // 邮箱正则表达式 guke 0320
    // var is_email = $("email").val();
    // var email_req = /[1-9]\d{7,12}@qq\.com/;
    // isok = email_req.test(is_email);
    // if (!isok){
    // show_error("请输入正确的qq邮箱（不支持英文邮箱）");
    // return;
    // }
    $("#sign_up").addClass("loading");
    $.ajax({
        url: '/api/sign_up',
        type: 'POST',
        async: true,
        data: {
          username: $("#username").val(),
          password: password,
          nameplate: $("#nameplate").val(),
          nickname: $("#nickname").val(),
          email: $("#email").val(),
          prevUrl: <%- serializejs(req.query.url || '/') %>
        },
        success: function(data) {
            error_code = data.error_code;
            switch(error_code){
                case 2001:
                    show_error("服务器未收到数据");
                    break;
                case 2005:
                case 2002:
                    show_error("请使用正确的学号/教职工号");
                    break;
                case 2007:
                case 2003:
                    show_error("密码不得为空");
                    break;
                case 2004:
                case 2006:
                    show_error("请输入正确的邮箱");
                    break;
                case 2008:
                    show_error("已经有人用过这个用户名了");
                    break;
                case 2009:
                    show_error("邮箱地址已被占用");
                    break;
                case 2010:
                    show_error("验证邮件发送失败：\n" + data.message);
                    break;
                case 2020:
                    show_error("请输入正确的班级");
                    break;
                case 2021:
                    show_error("请输入正确的姓名");
                    break;
                case 2022:
                    show_error("请老师在班级输入框内输入“老师”两个字");
                    break;
                case 1:
                    success();
                    break;
                case 2:
                    mail_required();
                    break;
                default:
                    show_error("未知错误：" + JSON.stringify(data));
                    break;
            }
            $("#sign_up").removeClass("loading");
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest.responseText);
            show_error("未知错误");
            $("#sign_up").removeClass("loading");
        }
    });
}
</script>
<% include footer %>
