<%
this.getStatusMeta = (status) => {
  if (status.startsWith('Running')) return 'Running';
  else return status;
};

const getOrderString = function(order) {
  return order ? 'asc' : 'desc';
}
this.createSortableTitle = function(item, display, defaultOrder) {
  const isCurrent = curSort === item;
  const url = syzoj.utils.makeUrl(req,
    Object.assign({}, req.query, {
      sort: item,
      order: getOrderString(isCurrent ? (!curOrder) : defaultOrder)
    }));
  const triangle = isCurrent ? `<i class="${curOrder ? "angle up" : "angle down"} icon"></i>` : "";
  return `<a class="black-link" href="${url}">${display}${triangle}</a>`;
}

this.isPending = (status) => {
  let pending = [
    'Waiting',
    'Compiling',
    'Running'
  ];
  return pending.includes(this.getStatusMeta(status));
};

this.alpha = number => {
  if (number && parseInt(number) == number && parseInt(number) > 0) return String.fromCharCode('A'.charCodeAt(0) + parseInt(number) - 1);
};

this.icon = {
  'Accepted': 'fa-check',
  'Success': 'fa-check',  // Custom test
  'Wrong Answer': 'fa-times',
  'Runtime Error': 'fa-bomb',
  'Invalid Interaction': 'fa-ban',
  'Time Limit Exceeded': 'fa-clock',
  'Memory Limit Exceeded': 'fa-microchip',
  'Output Limit Exceeded': 'fa-print',
  'File Error': 'fa-file',
  'Waiting': 'fa-hourglass-half',
  'Running': 'fa-spinner',
  'Compiling': 'fa-spinner',
  'Judging': 'fa-spinner',
  'Pending': 'fa-hourglass-half',
  'Compile Error': 'fa-code',
  'Submitted': 'fa-check', // NOI contests
  'System Error': 'fa-server',
  'No Testdata': 'fa-folder-open',
  'Partially Correct': 'fa-minus',
  'Judgement Failed': 'fa-server',
  'Skipped': 'fa-ban',
  'Unknown': 'fa-question-circle'
};

this.iconHidden = [
  'Success',
  'Submitted',
  'Compiling',
  'Running',
  'Waiting',
  'Judging',
  'Skipped'
];

this.builtInCdnUrl = 'https://cdn.jsdelivr.net/npm/syzoj-public-cdn@1.0.6';

this.lib = uri => {
  if (useLocalLibs || !syzoj.config.cdnjs_url) {
    return syzoj.utils.makeUrl(['cdnjs', uri]);
  } else if (syzoj.config.cdnjs_url === 'built-in') {
    return builtInCdnUrl + '/cdnjs/' + uri;
  } else {
    return syzoj.config.cdnjs_url + '/' + uri;
  }
}

this.selfLib = uri => {
  if (useLocalLibs || !syzoj.config.self_cdn_url) {
    return syzoj.utils.makeUrl(['self', uri]);
  } else if (syzoj.config.self_cdn_url === 'built-in') {
    return builtInCdnUrl + '/self/' + uri;
  } else {
    return syzoj.config.self_cdn_url + '/' + uri;
  }
}

%>
